rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /newsletter_subscribers/{subscriberId} {
      allow create, read, update, delete: if true;
    }
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
